.slide-detail {
   display: flex;
   flex-direction: column;
   justify-content: center;
align-items: start;
text-align: left;
align-content: center;
margin-bottom: 250px;

}

.slide-detail h1{
    font-size: 56px;
}
.slide-detail h1 {animation: slideIn 2s infinite;}
@keyframes slideIn {
    0% {transform: translateX(-50%);}
    50% {transform: translateX(0%);}
    0% {transform: translateX(50%);}
}



.slide-detail p{
    font-size: 20px;
}

.products{
    text-align: center;
    margin-top: 30px;
}


.abt{
    padding: 100px;
}

.image{
 background-image: url(../../Assets/istockphoto-971578384-170667a.webp);       
}
.home-wrap{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: rgb(13, 13, 105);
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px ;
}

button:hover{
    cursor:pointer;
    color:rgb(13, 13, 105);
    background-color: white;
}

.prodct-card{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}
.product-box{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 10px 1px rgb(172, 172, 247);
}

.quotepage{
    padding: 30px;
    margin-top: 50px;
}